{% extends 'greet/base.html' %}

{% block title %} Thank You {% endblock %}

{% block content %}
{% include 'greet/navbar.html' %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-14 mx-auto">
            <div class="jumbotron">
                <div class="card text-center">
                    
                    <br>

                    {% if status == 'Open' %}
                    <div class="card-header">
                        <h2>Open Tickets</h2>
                    </div>
                    {% elif status == 'accepted' %}
                    <div class="card-header">
                        <h2>Accepted Tickets</h2>
                    </div>
                    {% elif status == 'completed' %}
                    <div class="card-header">
                        <h2>Completed Tickets</h2>
                    </div>
                    {% elif status == 'closed' %}
                    <div class="card-header">
                        <h2>Closed Tickets</h2>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <table class="table" style="border: 1px solid black;">
                            <thead class="thed-dark">
                                <tr>
                                    <th scope="col" width="350" style="border: 1px solid black ;">#</th>
                                    <th scope="col" width="350" style="border: 1px solid black ;">Title</th>
                                    {% if status != 'Open' %}
                                    <th scope="col" scope="col" width="350" style="border: 1px solid black ;">Update
                                        Ticket</th>
                                    {% else %}
                                    <th scope="col" width="350" style="border: 1px solid black ;">View and Accept</th>
                                    {% endif %}
                                    <th scope="col" width="350" style="border: 1px solid black ;">Status</th>
                                    <th scope="col" width="350" style="border: 1px solid black ;">Created By</th>
                                    <th scope="col" width="350" style="border: 1px solid black ;">Accepted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                                    <td style="border: 1px solid black;">{{ ticket.title }}</td>
                                    {% if ticket.status == 'Open' %}
                                    <td style="border: 1px solid black;"><a
                                            href="{% url 'updateticket' ticket.id %}">View & Accept</a></td>
                                    {% else %}
                                    <td style="border: 1px solid black;"><a
                                            href="{% url 'updateticket' ticket.id %}">Update</a></td>
                                    {% endif %}
                                    <td style="border: 1px solid black;">{{ ticket.status }}</td>
                                    <td style="border: 1px solid black;">{{ ticket.user }}</td>
                                    <td style="border: 1px solid black;">{{ ticket.accessed_by }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        <h5>Thank You</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}