{% extends 'greet/base.html' %}
{% load static %}


{% block title %} Developer Dashboard {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
{% include 'greet/navbar.html' %}

<header class="masthead bg-primary text-white text-center" style="padding: 30px;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'greet/avataaars.svg' %}" alt="..." style="width: 15rem;" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Welcome {{ request.user.devprofile }}</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Software Developer</p>
    </div>
</header>

<section class="page-section portfolio" id="portfolio" style="padding: 30px;">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tickets</h2>


        <div class="container mt-4 mb-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="card p-4 mb-4">
                        <h3 class="heading" style="text-align: center;">Opened Tickets</h3>
                        <a href="{% url 'dev-ticket' 'Open' %}" class="btn btn-primary">View</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card p-4 mb-4">
                        <h3 class="heading" style="text-align: center;">Accepted Tickets</h3>
                        <a href="{% url 'dev-ticket' 'accepted' %}" class="btn btn-primary">View</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card p-4 mb-4">
                        <h3 class="heading" style="text-align: center;">Completed Tickets</h3>
                        <a href="{% url 'dev-ticket' 'completed' %}" class="btn btn-primary">View</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card p-4 mb-4">
                        <h3 class="heading" style="text-align: center;">Closed Tickets</h3>
                        <a href="{% url 'dev-ticket' 'closed' %}" class="btn btn-primary">View</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


{% endif %}
{% endblock %}