{% extends 'greet/base.html' %}

{% block title %} Thank You {% endblock %}

{% block content %}
<div class="container mt-5 mb-3">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <div class="card text-center">
                    <div class="card-header">
                        <h2>Welcome On Board</h2>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'pmlogin' %}" class="btn btn-primary">I am Project Manager</a>
                        <br>
                        <br>
                        <a href="{% url 'devlogin' %}" class="btn btn-primary">I am Software Developre</a>
                    </div>
                    <div class="card-footer text-muted">
                        <h5>Thank You</h5>
                    </div>    

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}