{% extends 'greet/base.html' %}

{% block title %} Project Manager login/Register {% endblock %}

{% block content %}

{% if page == 'pmsignup' %}
<div class="container mt-5 mb-3">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <form method="POST" action="{% url 'pmsignup' %}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h1 style="text-align: center;">Manager Sign Up</h1>
                        </div>
                        <div class="card-body">
                            {% for field in form %}
                            <div class="form__field">
                                {{ field.label_tag }}
                                {{ field }}
                                <br>
                                {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <div style="text-align:center">
                                <input type="submit" class="btn btn-primary" value="Sign Up" />
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <p style="text-align: center;">Already have an account <a href="{% url 'pmlogin' %}">Login</a></p>
                            <p style="text-align: center;">Back To Home <a href="{% url 'indexview' %}">Home</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5 mb-3">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <form action="{% url 'pmlogin' %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header text-white bg-primary">
                            <h1 style="text-align: center;">Manager Login</h1>
                        </div>
                        <div class="card-body">
                            {% for field in form %}
                            <div class="form__field">
                                {{ field.label_tag }}
                                {{ field }}

                                {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <br>
                            <div style="text-align:center">
                            <input type="submit" class="btn btn-primary" value="Login" />
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <p style="text-align: center;">Don't have an account <a href="{% url 'pmsignup' %}">Sign Up</a></p>
                            <p style="text-align: center;">Back To Home <a href="{% url 'indexview' %}">Home</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}