{% extends 'greet/base.html' %}

{% block title %} Thank You {% endblock %}

{% block content %}
{% if page == 'dev_opentickets' %}
<div class="form-control">
<h2>Open Tickets</h2>
<table class="table" style="border: 1px solid black;">
    <thead class="thed-dark">
        <tr>
            <th scope="col" width="350" style="border: 1px solid black ;">#</th>
            <th scope="col" width="350" style="border: 1px solid black ;">Title</th>
            <th scope="col" width="350" style="border: 1px solid black ;">View and Accept</th>
            <th scope="col" width="350" style="border: 1px solid black ;">Status</th>
            <th scope="col" width="350" style="border: 1px solid black ;">Created By</th>
            <th scope="col" width="350" style="border: 1px solid black ;">Accepted By</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
        <tr>
            <td style="border: 1px solid black;">{{ forloop.counter }}</td>
            <td style="border: 1px solid black;">{{ instance.title }}</td>
            <td style="border: 1px solid black;"><a href="{% url 'dev_updateticket' instance.id %}">View & Accept</a></td>
            <td style="border: 1px solid black;">{{ instance.status }}</td>
            <td style="border: 1px solid black;">{{ instance.user }}</td>
            <td style="border: 1px solid black;">{{ instance.accessed_by }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Back To Dashboard <a href="{% url 'devdashboard' %}">Dashboard</a></p>
<p>Click here to see <a href="{% url 'dev_acceptedtickets' %}">Accepted Tickets</a></p>
<p>Click here to see <a href="{% url 'dev_completedtickets' %}">Completed Tickets</a></p>
<p>Click here to see <a href="{% url 'dev_closedtickets' %}">Closed Tickets</a></p>
</div>

{% elif page == 'dev_acceptedtickets' %}
<div class="form-control">
    <h2>Accepted Tickets</h2>
    <table class="table" style="border: 1px solid black;">
        <thead class="thed-dark">
            <tr>
                <th scope="col" width="350" style="border: 1px solid black ;">#</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Title</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Status</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Created By</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Accepted By</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                <td style="border: 1px solid black;">{{ instance.title }}</td>
                <td style="border: 1px solid black;">{{ instance.status }}</td>
                <td style="border: 1px solid black;">{{ instance.user }}</td>
                <td style="border: 1px solid black;">{{ instance.accessed_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Back To Dashboard <a href="{% url 'devdashboard' %}">Dashboard</a></p>
    <p>Click here to see <a href="{% url 'dev_opentickets' %}">Open Tickets</a></p>
    <p>Click here to see <a href="{% url 'dev_completedtickets' %}">Completed Tickets</a></p>
    <p>Click here to see <a href="{% url 'dev_closedtickets' %}">Closed Tickets</a></p>
    </div>

{% elif page == 'dev_completedtickets' %}
<div class="form-control">
    <h2>Completed Tickets</h2>
    <table class="table" style="border: 1px solid black;">
        <thead class="thed-dark">
            <tr>
                <th scope="col" width="350" style="border: 1px solid black ;">#</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Title</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Status</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Created By</th>
                <th scope="col" width="350" style="border: 1px solid black ;">Accepted By</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                <td style="border: 1px solid black;">{{ instance.title }}</td>
                <td style="border: 1px solid black;">{{ instance.status }}</td>
                <td style="border: 1px solid black;">{{ instance.user }}</td>
                <td style="border: 1px solid black;">{{ instance.accessed_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Back To Dashboard <a href="{% url 'devdashboard' %}">Dashboard</a></p>
    <p>Click here to see <a href="{% url 'dev_opentickets' %}">Open Tickets</a></p>
    <p>Click here to see <a href="{% url 'dev_acceptedtickets' %}">Accepted Tickets</a></p>
    <p>Click here to see <a href="{% url 'dev_closedtickets' %}">Closed Tickets</a></p>
    </div>

    {% elif page == 'dev_closedtickets' %}
    <div class="form-control">
        <h2>Closed Tickets</h2>
        <table class="table" style="border: 1px solid black;">
            <thead class="thed-dark">
                <tr>
                    <th scope="col" width="350" style="border: 1px solid black ;">#</th>
                    <th scope="col" width="350" style="border: 1px solid black ;">Title</th>
                    <th scope="col" width="350" style="border: 1px solid black ;">Status</th>
                    <th scope="col" width="350" style="border: 1px solid black ;">Created By</th>
                    <th scope="col" width="350" style="border: 1px solid black ;">Accepted By</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in object_list %}
                <tr>
                    <td style="border: 1px solid black;">{{ forloop.counter }}</td>
                    <td style="border: 1px solid black;">{{ instance.title }}</td>
                    <td style="border: 1px solid black;">{{ instance.status }}</td>
                    <td style="border: 1px solid black;">{{ instance.user }}</td>
                    <td style="border: 1px solid black;">{{ instance.accessed_by }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Back To Dashboard <a href="{% url 'devdashboard' %}">Dashboard</a></p>
        <p>Click here to see <a href="{% url 'dev_opentickets' %}">Open Tickets</a></p>
        <p>Click here to see <a href="{% url 'dev_acceptedtickets' %}">Accepted Tickets</a></p>
        <p>Click here to see <a href="{% url 'dev_completedtickets' %}">Completed Tickets</a></p>
        </div>

        {% endif %}

{% endblock %}