{% extends 'greet/base.html' %}

{% block title %} Thank You {% endblock %}

{% block content %}
{% include 'greet/navbar.html' %}
<section class="masthead bg-white text-center" style="padding: 30px;">

    <div class="container mt-5 mb-3">
        <div class="row align-items-center h-100">
            <div class="col-14 mx-auto">
                <div class="jumbotron">

                    <br>

                    {% if status == 'Open' %}
                    <div class="border border-white rounded text-white bg-primary">
                        <h2>Open Tickets</h2>
                    </div>
                    {% elif status == 'accepted' %}
                    <div class="border border-white rounded text-white bg-primary">
                        <h2>Accepted Tickets</h2>
                    </div>
                    {% elif status == 'completed' %}
                    <div class="border border-white rounded text-white bg-primary">
                        <h2>Completed Tickets</h2>
                    </div>
                    {% elif status == 'closed' %}
                    <div class="border border-white rounded text-white bg-primary">
                        <h2>Closed Tickets</h2>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <table class="table table-dark table-striped">
                            <thead class="thed-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    {% if status == 'Open' or status == 'accepted' %}
                                    <th>Action</th>
                                    {% endif %}
                                    <th>Status</th>
                                    <th>Created By</th>
                                    <th>Accepted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ ticket.title }}</td>
                                    {% if ticket.status == 'Open' or status == 'accepted' %}
                                    <td><a
                                            href="{% url 'dev_updateticket' ticket.id %}">View & Update</a></td>
                                    {% endif %}
                                    <td>{{ ticket.status }}</td>
                                    <td>{{ ticket.user }}</td>
                                    <td>{{ ticket.accessed_by }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}